<h1><%= @user.email %><div id="micropost_count">(<%= @user.microposts.count %>)</div></h1><br/>
<% if logged_in? %>
<%= form_for [@user, @micropost], :remote => true do |f| %>
	<h1>What are you thinking?</h1><br/>
	<%= f.text_area :content, :class => 'micropostfield' %><br/>
	<%= f.submit :class => 'btn large create_post'%>
	<em>Maximum length is 250 characters</em>
<% end %>
<% end %>
<% unless @user.microposts.empty? %>
<div id="microposts">
<%= render @user.microposts.reverse %>
</div>
<% end %>