<div id="micropost_container">
<h1><%= @user.email %></h1><br/>
<% if logged_in? %>
<%= form_for [@user, @micropost], :remote => true do |f| %>
	<h1>What are you thinking?</h1><br/>
	<%= f.text_area :content, :class => 'micropostfield' %><br/>
	<%= f.submit :class => 'btn large create_post'%>
	<em>Maximum length is 250 characters</em>
<% end %>
<% end %>
<% unless @user.microposts.empty? %>
<div id="microposts">
<%= render @user.microposts.reverse %>
</div>
<% end %>
</div>

<div id="user_info">
	<h1>User Info</h1>
	<hr />
	<h3 id="micropost_count">
		<%= @user.microposts.count %> microposts
	</h3><hr/>
	<h3>
		Joined on <%= @user.created_at %>
	</h3>
</div>