<!DOCTYPE html>
<html>
<head>
  <title>Fasttwitter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag    "custom", :media => "all" %>
  <link href='http://fonts.googleapis.com/css?family=Londrina+Sketch' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
<!-- google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-32001653-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	      <div class="container">
	        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </a>
	        <a class="brand" href="/">Fast Twitter</a>
	        <div class="nav-collapse">
	          <ul class="nav">
				<% if current_user %>
				<li><%= link_to "Logout", log_out_path %></li>
				<li><%= link_to current_user.email, user_path(current_user) %>
				<% else %>
				<li><%= link_to "Sign Up", sign_up_path %></li>
				<li><%= link_to "Login", log_in_path %></li>
				<% end %>
				<li><%= link_to "List of Users", users_path %></li>
	          </ul>
	        </div>
	      </div>
	    </div>
	  </div>
	
	<div class="container">
		<% flash.each do |name, msg| %>
		  <%= content_tag :div, msg, :id => "flash_#{name}" %>
		<% end %>
	    <div class="row">
	      <div class="span6"><%= yield %></div>
	    </div>
	</div>


</body>
</html>
